<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <dllmap dll="csfml-window-2" target="csfml-window-2" />
  <dllmap dll="csfml-graphics-2" target="csfml-graphics-2" />
  <dllmap dll="csfml-system-2" target="csfml-system-2" />
  <dllmap dll="csfml-audio-2" target="csfml-audio-2" />
</configuration>